body {
  background: rgb(29, 228, 195);
}

.button {
  position: absolute;
  top: 10%;
  left: 42%;
  background: rgb(226, 114, 198);
  border-radius: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 15%;
  font-size: 20px;
  text-align: center;
}
.edit,
.delete {
  width: 30px;
}

.table {
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 20%;

  width: 45%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  background: #fafafa;
  text-align: center;
  overflow: hidden;
}

th,
td {
  padding: 10px 15px;
}

th {
  background: rgb(173, 21, 41);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
